name: deploy 

on: 
  push:
    branches:
      - main

env:
  MRSK_REGISTRY_PASSWORD: ${{ secrets.MRSK_REGISTRY_PASSWORD }}

jobs:
  deploy_job:
    name: A job to deploy web apps 
    runs-on: ubuntu-latest 
    steps:
      - uses: actions/checkout@v3
      - uses: PhutureCorp/container-ssh-agent@v0.0.1
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
      - uses: amirmarmul/mrsk-deploy-action@v1.0.0
        