name: deploy 

on: 
  push:
    branches:
      - main

jobs:
  deploy_job:
    name: A job to deploy web apps 
    runs-on: ubuntu-latest 
    steps:
      - uses: actions/checkout@v3
      - uses: webfactory/ssh-agent@v0.7.0
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
      - uses: amirmarmul/mrsk-deploy-action@v1.0.0
        env:
          MRSK_REGISTRY_PASSWORD: ${{ secrets.MRSK_REGISTRY_PASSWORD }}