name: deploy 

on: 
  push:
    branches:
      - main
env:
  SSH_AUTH_SOCK: /tmp/ssh_agent.sock
  MRSK_REGISTRY_PASSWORD: ${{ secrets.MRSK_REGISTRY_PASSWORD }}
jobs:
  deploy_job:
    name: A job to deploy web apps 
    runs-on: ubuntu-latest 
    steps:
      - uses: actions/checkout@v3
      - name: Setup SSH Keys and known_hosts
        run: |
          ssh-agent -a $SSH_AUTH_SOCK > /dev/null
          ssh-add - <<< "${{ secrets.SSH_PRIVATE_KEY }}"

      - uses: amirmarmul/mrsk-deploy-action@v1.0.0
        
        